.app-content {
  padding-top: 50px;
}
.search-main {
  width: 550px;
  height: 45px;
  margin: auto;
}

.search-main-content {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
