.header {
  width: 100%;
  height: 70px;
  box-shadow: rgba($primary, 0.2) 0px 5px 10px, rgba($primary, 0.2) 0px 3px 3px;
}

.header-content {
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-header {
  height: 35px;
  width: 300px;
}

@include mobile {
  .header-content {
    padding-left: 5%;
    padding-right: 5%;
  }
}
