.d-flex {
  display: flex;
}
.justify-content {
  &-end {
    justify-content: flex-end;
  }
  &-start {
    justify-content: flex-start;
  }
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
}
.align-items {
  &-end {
    align-items: flex-end;
  }
  &-center {
    align-items: center;
  }
}
